.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 260px;
  margin-top: $gutter-xl;
  background-color: $mine-shaft;

  a { color: $silver; }
}
