.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 170px;
  margin-top: $gutter-xl;
  background-color: $mine-shaft;

  a { color: $silver; }
}

.bookend {
  height: 40px;
  background-color: $acadia;

  @include bp-md-min() {
    height: 130px;
  }
}

