.header {
  background-color: black;
  padding: $gutter-md $gutter-md;
}

.header__logo {
  display: block;
  font-family: $montserrat;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 2px;
  color: white;

  @include bp-md-min() {
    font-size: 27px;
    max-width: 100px;
  }
}

