/* variables */

// breakpoints
$bp-sm: 540px;
$bp-md: 720px;
$bp-lg: 960px;
$bp-xl: 1140px;

// gutters
$gutter-sm: 10px;
$gutter-md: 20px;
$gutter-lg: 40px;
$gutter-xl: 60px;

// colors
$jungle-green: #34b778;
$mine-shaft: #333333;
$silver: #c2c2c2;
$acadia: #1F1F1F;
$night-rider: #303030;

// typography
$garamond: 'Cormorant Garamond', serif;
$montserrat: 'Montserrat', sans-serif;

// other
$hero-height-sm: 575px;
$hero-height-md: 725px;

/* mixins */

@mixin bp-md-min() {
  @media (min-width: $bp-md) {
    @content;
  }
}

@mixin bp-lg-min() {
  @media (min-width: $bp-lg) {
    @content;
  }
}

/* styles */

body {
  font-family: $garamond;
  font-weight: 400;
  font-size: 18px;
  margin: 0px;
}

a { text-decoration: none; }

a:hover {
  cursor: pointer;
}

a:visited {
  color: white;
}

img {
  width: 100%;
  height: auto;
}

// utility classes
.frf-button {
  display: inline-block;
  padding: 16px 28px;
  border: none;
  border-radius: 300px;
  background-color: $jungle-green;
  color: white;
  font-size: 13px;
  font-family: $montserrat;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;

  @include bp-md-min() {
    font-size: 15px;
  }

  &:hover {
    cursor: pointer;
  }
}

.content-heading {
  font-size: 30px;
  letter-spacing: 1px;

  @include bp-md-min() {
    font-size: 49px;
  }
}

.content-subheading {
  display: block;
  font-family: $montserrat;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $night-rider;
}

// home page
.home__hero {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: $hero-height-sm;
  background-image: url("/assets/img/header.jpg");
  background-size: cover;
  background-position: center center;

  @include bp-md-min() {
    height: $hero-height-md;
  }
}

.home__hero__overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0,0,0,.3);
  z-index: 100;
}

.home__hero__logo {
  position: absolute;
  top: $gutter-md;
  left: $gutter-md;
  font-family: $montserrat;
  align-self: flex-start;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 2px;
  color: white;
  text-decoration: none;
  z-index: 101;

  @include bp-md-min() {
    font-size: 27px;
    max-width: 100px;
  }
}

.home__hero__text {
  padding: 0 $gutter-sm;
  text-align: center;
  margin-top: 25px;
  color: white;
  z-index: 101;
}

.home__hero__text__cta-1 {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 1px;
  line-height: 1.5em;

  @include bp-md-min() {
    font-size: 61px;
  }
}

.home__hero__text__cta-2 {
  margin-top: $gutter-sm;
  font-size: 30px;
  font-family: $montserrat;
  font-weight: 700;
  line-height: 1.5em;

  @include bp-md-min() {
    margin-top: $gutter-md;
    font-size: 68px;
  }
}

.home__hero__button {
  margin-top: $gutter-md;

  @include bp-md-min() {
    margin-top: $gutter-xl;
  }
}

.home__content {
  margin-left: auto;
  margin-right: auto;
  max-width: 780px;
  padding-top: $hero-height-sm;

  @include bp-md-min() {
    padding-top: $hero-height-md;
  }
}

.home__content__section {
  margin-top: $gutter-xl;
  padding: 0 $gutter-sm;
  text-align: center;

  p, img {
    margin-top: $gutter-md;
  }

  img {
    max-width: 580px;
    margin-bottom: $gutter-md;
  }
}

// products page
.products__header {
  background-color: black;
  padding: $gutter-md $gutter-md;
}

.products__header__logo {
  display: block;
  font-family: $montserrat;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 2px;
  color: white;

  @include bp-md-min() {
    font-size: 27px;
    max-width: 100px;
  }
}

.products__content {
  display: flex;
  flex-direction: column;
  margin-top: $gutter-lg;
  padding: 0 $gutter-md;

  @include bp-md-min() {
    flex-direction: row;
  }
}

.products__content__product-preview {
  display: block;
  margin: $gutter-lg $gutter-sm $gutter-sm;
  text-align: center;
  color: $night-rider;

  &:visited { color: $night-rider; }

  @include bp-md-min() {
    width: 200px;
  }

  @include bp-lg-min() {
    width: 275px;
  }
}

.products__content__product-preview__img-container {
  @include bp-md-min() {
    width: 200px;
    height: 200px;
    overflow: hidden;

    img {
     height: 100%;
     width: auto;
    }
  }

  @include bp-lg-min() {
    width: 275px;
    height: 275px;
  }
}

.products__content__product-preview__title {
  margin-top: $gutter-sm;
  font-size: 24px;
}

.products__content__product-preview__price {
  margin-top: $gutter-sm;
  font-size: 20px;
}

// product page
.product__content {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.product__content__heading {
  margin-top: $gutter-lg;
  text-align: center;

  @include bp-md-min() {
    margin-top: $gutter-xl;
  }
}

.product__content__columns {
  display: flex;
  padding: 0 $gutter-sm;
  flex-direction: column;

  @include bp-md-min() {
    flex-direction: row;
  }
}

.product__content__column {
  margin-top: $gutter-lg;
  width: 100%;

  @include bp-md-min() {
    width: 50%;
    padding: 0 $gutter-md;
  }
}

.product__content__product-purchase__title {
  margin-top: $gutter-md;
  font-size: 20px;


  @include bp-md-min() {
    font-size: 24px;
  }
}

.product__content__product-purchase__price {
  font-size: 18px;

  @include bp-md-min() {
    font-size: 20px;
  }
}

.product__content__product-purchase__form {
  margin-top: $gutter-md;

  input {
    margin-top: $gutter-sm;
    height: 30px;
    width: 60px;
    font-size: 18px;
  }

  button {
    display: block;
    margin-top: $gutter-md;
  }
}

.product__content__product-desc {
  p {
    margin: $gutter-md 0;
    line-height: 25px;
  }
}

.product__content__product-desc__section {
  &:not(:first-of-type) {
    margin-top: $gutter-xl;
  }
}

// footer
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 170px;
  margin-top: $gutter-xl;
  background-color: $mine-shaft;

  a { color: $silver; }
}

.bookend {
  height: 40px;
  background-color: $acadia;

  @include bp-md-min() {
    height: 130px;
  }
}

