.products__content {
  display: flex;
  flex-direction: column;
  margin-top: $gutter-lg;
  padding: 0 $gutter-md;

  @include bp-md-min() {
    flex-direction: row;
  }
}

.products__content__product-preview {
  display: block;
  margin: $gutter-lg $gutter-sm $gutter-sm;
  text-align: center;
  color: $night-rider;

  &:visited { color: $night-rider; }

  @include bp-md-min() {
    width: 200px;
  }

  @include bp-lg-min() {
    width: 275px;
  }
}

.products__content__product-preview__img-container {
  @include bp-md-min() {
    width: 200px;
    height: 200px;
    overflow: hidden;

    img {
     height: 100%;
     width: auto;
    }
  }

  @include bp-lg-min() {
    width: 275px;
    height: 275px;
  }
}

.products__content__product-preview__title {
  margin-top: $gutter-sm;
  font-size: 24px;
}

.products__content__product-preview__price {
  margin-top: $gutter-sm;
  font-size: 20px;
}

