/* variables */

// misc
$navbar-height-mobile: 80px;

// gutters
$gutter-sm: 10px;
$gutter-md: 20px;
$gutter-lg: 40px;
$gutter-xl: 60px;

// colors
$jungle-green: #34b778;
$mine-shaft: #333333;
$silver: #c2c2c2;
$acadia: #1F1F1F;
$night-rider: #303030;
$dim-gray: #5e5e5e;

// typography
$garamond: 'Cormorant Garamond', serif;
$montserrat: 'Montserrat', sans-serif;
