.product__content {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 $gutter-md;

  @include bp-md-min() {
    padding: 0;
  }
}

.product__content__heading {
  margin-top: $gutter-lg;
  text-align: center;

  @include bp-md-min() {
    margin-top: $gutter-xl;
  }
}

.product__content__columns {
  display: flex;
  flex-direction: column;

  @include bp-md-min() {
    flex-direction: row;
  }
}

.product__content__column {
  margin-top: $gutter-lg;
  width: 100%;

  @include bp-md-min() {
    width: 50%;
    padding: 0 $gutter-md;
  }
}

.product__content__product-purchase__title {
  margin-top: $gutter-md;
  font-size: 20px;


  @include bp-md-min() {
    font-size: 24px;
  }
}

.product__content__product-purchase__price {
  font-size: 18px;

  @include bp-md-min() {
    font-size: 20px;
  }
}

.product__content__product-purchase__form {
  margin-top: $gutter-md;

  label {
    margin-right: $gutter-sm;
  }

  input {
    margin-top: $gutter-sm;
    height: 30px;
    width: 60px;
    font-size: 18px;
    border: 1px solid $dim-gray;
    text-align: center;
  }

  button {
    display: block;
    margin-top: $gutter-md;
  }
}

.product__content__product-desc {
  p {
    margin: $gutter-md 0;
    line-height: 25px;
  }
}

.product__content__product-desc__section {
  &:not(:first-of-type) {
    margin-top: $gutter-xl;
  }
}

